[submodule "stm32-arduino"]
	path = stm32-arduino
	url = https://github.com/redbear/stm32-arduino
[submodule "sparkfun_lsm6ds3_arduino_library"]
	path = sparkfun_lsm6ds3_arduino_library
	url = https://github.com/jgsuw/sparkfun_lsm6ds3_arduino_library
